<ul class="dc_pagination dc_paginationA dc_paginationA03">
<li><a href="/profile/comments" class="first">First</a></li>
<li><a href="#" >1</a></li>
<% if (comments.length > 9) { %>

	<% for(var i=9; i<comments.length; i = i + 9) { %>
		<% if (i ===  9) { %>

			<li><a href="/profile/comment/<%= i %>"  class="active"><%= i %></a></li>
		<% } else { %>
		<li><a href="/profile/comment/<%= i %>"  ><%= i %> </a></li>
		<% } %>
	<% } %>
<li><a href="#" class="next">Next</a></li>
<li><a href="/profile/comment/<%= comments.length - 10 %>" class="last">Last</a></li>

<% } else{ %>
<li><a href="#" class="next">Next</a></li>
<li><a href="/profile/comment/<%= comments.length - 10 %>" class="last">Last</a></li>
<% } %>

</ul>